mixin content
    .content
        .content__picture
            img.content__img(src="./assets/images/bg_51.png", alt="object_51")  
        .container        
            .content__top
                span.content__top-address Адрес 123
                .content__top-object Объект №51
            .content__center
                aside.content__side
                    .sidebar
                        ul.sidebar__info
                            li.sidebar__info-item 
                                a Документы
                            li.sidebar__info-item
                                a План
                            li.sidebar__info-item 
                                a Оплата
                            li.sidebar__info-item 
                                a Стадии
                            li.sidebar__info-item 
                                a Online
                            li.sidebar__info-item 
                                a Инструкция
                            li.sidebar__info-item.sidebar__info-item--active 
                                a Уведомления
                                span.sidebar__info-item-notification 6                             
                        ul.sidebar__locations
                            li.sidebar__locations-item    
                                .address.clearfix    
                                    .address__header Адрес 123     
                                    .address__name Адрес 123    
                                    a.address__link Перейти  
                            li.sidebar__locations-item    
                                .address    
                                    .address__header Адрес 123     
                                    .address__name Адрес 123    
                                    a.address__link Перейти  
                main.content__main.main
                    h3.main__header Уведомления
                    .main__content
                        ul.notifications
                            li.notifications__item
                                span.notifications__item-date 22/09/17
                                .notifications__item-header «Вращательный экваториальный момент — актуальная национальная задача»
                                .notifications__item-desc «Вращательный экваториальный момент — актуальная национальная задача»
                            li.notifications__item.notifications__item--active
                                span.notifications__item-date 21/09/17
                                .notifications__item-header Реальная власть как концепция
                                .notifications__item-desc Современная критика выслеживает апогей. Малое колебание амбивалентно. Врожденная интуиция, с учетом региональных факторов, осмысленно рассматривается несовершенный орогенез. Актуализация аккумулирует трагический гений. Параметр Родинга-Гамильтона не зависит от скорости вращения внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения центральный голоцен, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире. Весеннее равноденствие обедняет гений, исходя из общих теорем механики. Освобождение, несмотря на не менее значительную.
                            li.notifications__item
                                span.notifications__item-date 11/08/17
                                .notifications__item-header Из ряда вон выходящий математический маятник: гипотеза и теории
                                .notifications__item-desc Из ряда вон выходящий математический маятник: гипотеза и теории
                            li.notifications__item
                                span.notifications__item-date 01/08/17
                                .notifications__item-header Межпланетный знак: методология и особенности
                                .notifications__item-desc Межпланетный знак: методология и особенности
                            li.notifications__item
                                span.notifications__item-date 24/07/17
                                .notifications__item-header Юрский маховик: ядро или засветка неба?
                                .notifications__item-desc Юрский маховик: ядро или засветка неба?
        .content__bot
            ul.news
                li.news__item
                    span.news__item-date 14/07
                    span.news__item-header.news__item-header--green акция
                    .news__item-desc Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.
                li.news__item
                    span.news__item-date 14/07
                    span.news__item-header Новости
                    .news__item-desc Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.
                li.news__item
                    span.news__item-date 14/07
                    span.news__item-header акции
                    .news__item-desc Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.
                li.news__item
                    span.news__item-date 14/07
                    span.news__item-header события
                    .news__item-desc Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.
                .news__pagination
                    a.news__circle.news__circle--active
                    a.news__circle
                    a.news__circle
                    a.news__circle

