mixin footer
    footer.footer
        .footer__left
            .footer__links
                img.footer__links-img(src="", alt="")
            .footer__contacts
                a(href="tel:+70000000000").footer__contacts-phone +7 000 000-00-00
                .footer__contacts-address Адрес, улица, дом, корпус
                a(href="mailto:#").footer__contacts-mail post@comp.com
        .footer__right
            ul.dividers
                li.dividers__item Раздел №1
                    ul.subdividers  
                        li.subdividers__item Подраздел №1
                        li.subdividers__item Подраздел №2
                        li.subdividers__item Подраздел №3
                        li.subdividers__item Подраздел №4
                        li.subdividers__item Подраздел №5
                        li.subdividers__item Подраздел №6
                li.dividers__item Раздел №2
                    ul.subdividers  
                        li.subdividers__item Подраздел №1
                        li.subdividers__item Подраздел №2
                        li.subdividers__item Подраздел №3
                        li.subdividers__item Подраздел №4
                li.dividers__item Раздел №3
                    ul.subdividers  
                        li.subdividers__item Подраздел №1
                        li.subdividers__item Подраздел №2
                        li.subdividers__item Подраздел №3
                        li.subdividers__item Подраздел №4
                        li.subdividers__item Подраздел №5
                        li.subdividers__item Подраздел №6
                li.dividers__item Раздел №4
                    ul.subdividers  
                        li.subdividers__item Подраздел №1
                        li.subdividers__item Подраздел №2
                        li.subdividers__item Подраздел №3
