mixin header
    header.header
        .container.header__container
            .header__left
                a.logo
                    img.logo__link(src="./assets/images/logo.png")
            .header__center
                include ../common/menu.pug
                +menu            
            .header__right
                a(href="tel:+70000000000").header__phone +7 000 000-00-00
                a.header__call
                    img.header__button(src="./assets/images/phone_full.png")
                .hamburger                
                    a(class='hamburger__link') Меню
                        .hamburger__line                    