mixin menu
    menu.menu
        ul.menu__list#nav
            li.menu__item 
                a.menu__link Раздел №1
            li.menu__item 
                a.menu__link Раздел №2
            li.menu__item 
                a.menu__link Раздел №3
            li.menu__item
                a.menu__link Раздел №4               
            li.menu__item
                a.menu__link Раздел №5        
            li.menu__item.menu__item--right.menu__item--comparsion
                a.menu__link Сравнение  
                span.menu__item-notification 3           
            li.menu__item.menu__item--cabinet
                a.menu__link Личный кабинет                     