mixin menu
    menu.menu
        ul.menu__list#nav
            li.menu__item 
                a.menu__link Раздел №1
            li.menu__item 
                a.menu__link Раздел №2
            li.menu__item 
                a.menu__link Раздел №3
            li.menu__item
                a.menu__link Раздел №4               
            li.menu__item
                a.menu__link Раздел №5        
            li.menu__item.menu__item--right.menu__item--comparsion
                a.menu__link Сравнение  
                span.menu__item-notification 3           
            li.menu__item.menu__item--cabinet
                a.menu__link Личный кабинет     
                .menu__contacts                
                    a(href="tel:+70000000000").menu__phone +7 000 000-00-00
                    a.menu__call
                        img.menu__button(src="./assets/images/phone_full_big.png")                                