.news {
  padding-top: 1.7rem;
  padding-left: 4.65rem;
  padding-bottom: 3.2rem;
  margin: 0 auto;
  display: flex;
  max-width: 1280px;
  min-width: 950px;

  .news__item {
    padding-right: 3rem;
    margin-right: 1.6rem;
  }
  .news__item-date {
    opacity: 0.4;
    font-size: rem(14px);
  }
  .news__item-header {
    border-radius: 2px;
    background-color: #ffffff;
    padding: 0 0.2rem;
    margin-left: 0.2rem;
    @include font_vida_33(10px);
    text-transform: uppercase;

    &--green {
      padding: 0 0.85rem;
      margin-left: 0.4rem;
      background-color: #c5e71b;
      position: relative;
      &:before {
        position: absolute;
        left: 0;
        top: 0;
        content: ' ';
        border-width: 7px;
        border-color: transparent transparent transparent #eee;
        border-style: solid;
      }
      &:after {
        position: absolute;
        left: right;
        top: 0;
        content: ' ';
        border-width: 7px;
        border-color: transparent #eee transparent transparent;
        border-style: solid;
      }
    }
  }
  .news__item-desc {
    font-size: rem(14px);
    margin-top: 0.7rem;
  }
}
