.notifications {
  @include tablets {
    width: 97%;
  }

  .notifications__item {
    padding: 1.5rem 2rem 0.85rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    border: 1px solid #edeeee;
    background-color: #ffffff;
    position: relative;
    &:after {
      position: absolute;
      content: ' ';
      top: 3rem;
      right: 1.9rem;
      width: 24px;
      height: 24px;
      background-image: url('../images/arrow_down.png');
    }

    @include tablets {
      padding: 1.5rem 2rem 1.1rem 1.5rem;
      margin-bottom: 2rem;
    }

    &:first-child {
      padding-bottom: 2.4rem; //только для перфект пикселя. В макете нецелесообразно большой отступ тут.
      @include tablets {
        padding: 1.5rem 2rem 1.1rem 1.5rem;
        margin-bottom: 2rem;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }

    &--active {
      background-color: #fcfcfc;
      padding-bottom: 1.7rem;
      @include tablets {
        padding: 1.5rem 2rem 1.1rem 1.5rem;
        margin-bottom: 2rem;
      }
      &:after {
        background-image: url('../images/arrow_up.png');
      }
      .notifications__item-desc {
        height: 100%;
      }
    }
  }
  .notifications__item-date {
    display: inline-block;
    padding: 0.1rem 0.2rem;
    border-radius: 2px;
    background-color: #edeeee;
  }
  .notifications__item-header {
    @include font_vida_33(18px);
    margin-top: 1.36rem;
    @include tablets {
      width: 90%;
    }
  }
  .notifications__item-desc {
    height: 0;
    color: #5a5a58;
    overflow: hidden;
    margin-top: 0.8rem;
    line-height: 1.5rem;
    width: 91%;
    @include phones {
      width: 88%;
    }
  }
}
