.sidebar {
  .sidebar__info {
    width: 90%;
    margin: 0 auto;
  }
  .sidebar__locations {
    @include tablets {
      display: flex;
    }
  }
  .sidebar__info-item {
    color: $color_violet;
    @include font_vida_31(16px);
    margin-bottom: 2.3rem;
    @include tablets {
      display: none;
    }
    &--active {
      color: #53565a;
      position: relative;
      @include tablets {
        width: 100%;
        display: inline-block;
        margin-bottom: 0;
        padding: 0 2.5rem;
      }
      &:before {
        position: absolute;
        content: ' ';
        padding: 1.2rem 0;
        left: -7%;
        top: -60%;
        width: 85%;
        height: 100%;
        border-radius: 20px;
        border: 1px solid rgba(#53565a, 0.2);
        @include tablets {
          left: 0;
          width: 100%;
        }
      }
      &::after {
        content: ' ';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-150%, -15%);
        border-style: solid;
        border-width: 5px;
        border-color: #808080 transparent transparent transparent;
      }
      .sidebar__info-item-notification {
        display: inline-block;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 23%;
        transform: translate(45%, -80%);
        background-color: $color_violet;
        border-radius: 50%;
        color: $color_white;
        font-size: rem(13px);
        text-align: center;
        line-height: rem(20px);
        @include tablets {
          left: 8.6rem;
        }
      }
    }
  }
  .sidebar__locations-item {
    padding: 2.5rem 1.5rem 2.5rem 0;
    position: relative;

    @include tablets {
      flex: 1;
      padding-left: 3rem;
    }

    &:first-child:before {
      @include tablets {
        display: none;
      }
    }
    &:before {
      position: absolute;
      content: ' ';
      top: 0;
      width: 90%;
      border-top: 1px solid rgba(#919191, 0.13);

      @include tablets {
        border-top: none;
        left: 0;
        top: 20%;
        width: 1px;
        height: 50%;
        border-left: 1px solid rgba(#919191, 0.13);
      }
    }
    .sidebar__info-item-notification {
      display: none;
    }
  }
}
