extends ../template

block variables
    - var title = 'Company'

block content

    .wrapper
        .wrapper__inner
            include ../common/header.pug
            +header 
            include ../common/content.pug
            +content 
        include ../common/footer.pug
        +footer 

