* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*,
*:focus,
*:active {
  outline: none;
}

body,
html {
  font-family: 'vida_31', sans-serif;
  cursor: default;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
html {
  font-size: 16px;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  color: inherit;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-width: 950px;  
  height: 100%;
  background-color: $color_white;
  display: flex;
  flex-direction: column;
  height: 100%;  
  .wrapper__inner {
    flex: 1 0 auto;
  }

  @include tablets {
    min-width: inherit;
    // max-height: 900;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  
}